{{#each links as |link|}}
  <a href="{{ link.href }}" title="{{ link.name }}" class="lwi m-t500 g--3 g--3--sl {{../theme}}">
    <span class="lwi-ic"><img src="{{ link.image }}" alt="{{ link.name }}" class="lwi-i" /></span>
    <span class="lwi-t">{{ link.name }}</span>
  </a>
{{/each}}
