{{#each links as |link|}}
  <div class="lwi g--4">
    <a href="{{ link.href }}" title="{{ link.name }}" class="lwi-l">
      <span class="lwi-ic"><img src="{{ link.image }}" alt="{{ link.name }}" class="lwi-i" /></span>
      <span class="lwi-t">{{ link.name }}</span>
    </a>
  </div>
{{/each}}
