<div class="b-c" aria-live="polite">
  <div class="sh cl">
    <h1 class="sh-title">{{ header.title }}</h1>
  </div>
  <div class="prg">
    <div class="prg-prgbar">
      <progress max="{{max}}" aria-valuemin="{{min}}" aria-valuemax="{{max}}" aria-valuenow="{{step}}" aria-valuetext="Step 2 of 9" value="{{step}}">Step 2 of 9</progress>
      <span class="prg-s" aria-hidden="true">Step {{step}} of {{max}}</span>
    </div>
  </div>
</div>
