{{#each cards as |card|}}
  <a href="{{ card.href }}" class="icd m-t500 g--4 g--4--sl{{#../theme}} icd--{{this}}{{/../theme}}">
    {{#if card.icon}}
      <div class="icd-ic" style="background-image: url({{ card.icon.url }})"></div>
    {{/if}}
    <div class="icd-c">
      <div class="icd-t">{{ card.title }}</div>
      <div class="icd-d">{{ card.content }}</div>
    </div>
  </a>
{{/each}}
