<div class="sh{{#if header.theme}} sh--{{ header.theme }}{{/if}}">
  <h2 class="sh-title">{{ header.title }}</h2>
  {{#if header.contact}}
    <div class="sh-contact">Contact: <a href="{{ header.contact.link }}" title="{{ header.contact.title }}">{{ header.contact.title }}</a></div>
  {{/if}}
</div>
