{{#each cards as |card|}}
<div class="section cd g--4 g--4--sl m-t500 cdp-l center-mnl">
  <div class="d-b bg--cb cdp-a ta-c p-a200 t--upper t--sans t--w t--ob--h t--s100">{{card.description}}</div>
  <div class="cd-c"><a href="{{card.href}}"><img src="{{card.image}}" class="cdp-i p-a100"></a>
    <div class="mnl-c-group">
      <div class="cd-st t--upper t--subtitle t--bold">{{card.name}}</div>
      <div class="cdp-st">{{card.row1}}</div>
    </div>
    <div class="mnl-c-group">
      <div class="cdp-st">
        <div>{{card.row2}} <a href="{{card.link.href}}" class="mnl-link">{{card.link.text}}</a>{{#if
          card.row2-cont}}{{card.row2-cont}}{{/if}}</div>
      </div>
    </div>
  </div>
</div>
{{/each}}