<cob-map style="height: 500px" {{#if open_overlay}}open-overlay{{/if}}>
  <script slot="config" type="application/json">
{
  "version": "1.0",
  "uid": "map1",
  "dataSources": [
    {
      "uid": "data1",
      "icons": null,
      "polygons": {
        "style": "default",
        "color": "#0c2639",
        "hoverColor": "#fb4d42"
      },
      "popupHtmlTemplate": "<img src=\"\{{Image}}\" class=\"cdp-i\" alt=\"\{{Councilor}}\" style=\"margin-bottom: 1rem\"/>\n          <div class=\"ta-c m-v300\">\n            <div class=\"cdp-t t--sans t--upper m-t200\">\{{Councilor}}</div>\n            <div class=\"cdp-st t--subinfo t--g300\">District \{{DISTRICT}}</div>\n          </div>\n          <a href=\"\{{Bio}}\" class=\"btn btn--b btn--100 btn--sm\">\n            Visit webpage<span class=\"a11y--h\"> of \{{Councillor}}</span>\n          </a>",
      "data": {
        "type": "arcgis",
        "service": "https://services.arcgis.com/sFnw0xNflSi8J0uh/arcgis/rest/services/City_Council_Districts/FeatureServer",
        "layer": 0
      },
      "legend": {
        "label": "City Council Districts",
        "symbol": "polygon"
      }
    },
    {
      "uid": "data2",
      "icons": {
        "markerUrl": "/images/global/icons/mapping/parking.svg",
        "cluster": {{#if cluster_icons}}true{{else}}false{{/if}}
      },
      "polygons": null,
      "popupHtmlTemplate": "<div style=\"min-width: 280px\">\n        <h3 class=\"h3 m-v300\">\{{Address}}</h4>\n        <div class=\"m-v300\">\n          <ul class=\"dl dl--sm\">\n            <li class=\"dl-i\"><span class=\"dl-t\">Name:</span> <span class=\"dl-d\">\{{Name}}</span></li>\n            <li class=\"dl-i\"><span class=\"dl-t\">Fee:</span> <span class=\"dl-d\">\{{Fee}}</span></li>\n          </ul>\n        </div>\n        \{{#Comments}}<div class=\"t--subinfo m-v300\">\{{.}}</div>\{{/Comments}}\n        \{{#Phone}}<div class=\"t--subinfo m-v300\">Call ahead to find out the number of spaces available: <a href=\"tel:\{{.}}\">\{{.}}</a></div>\{{/Phone}}\n      </div>",
      "data": {
        "type": "arcgis",
        "service": "https://services.arcgis.com/sFnw0xNflSi8J0uh/arcgis/rest/services/SnowParking/FeatureServer",
        "layer": 0
      },
      "legend": {
        "label": "Snow Emergency Parking Lots",
        "symbol": "icon"
      }
    }
  ],
  "maps": [
    {
      "uid": "yBHcvxTmQyrK4WhLBxe16",
      "title": "{{heading}}",
      "instructionsHtml": {{#if show_instructions}}"<div class=\"t--info\">\n    <p class=\"m-t000\">Hover over and click on your district to find your councilor, or search your address.</p>\n    <p>To see all City Council members, including at-large councilors, visit the\n      <a target=\"_blank\"\n        href=\"https://www.boston.gov/departments/city-council#city-council-members\">City Council page.</a>\n    </p>\n  </div>"{{else}}null{{/if}},
      "latitude": 42.32,
      "longitude": -71.1284,
      "zoom": 12,
      "showZoomControl": true,
      "showLegend": {{#if show_legend}}true{{else}}false{{/if}},
      "showUserLocation": false,
      "addressSearch": {{#if show_address_search}}{
        "title": "Address search",
        "placeholder": "Search for your address…",
        "autoPopupDataSourceUid": "data1",
        "zoomToResult": false
      }{{else}}null{{/if}}
    }
  ]
}
  </script>
</cob-map>
