<div class="bg-c--g--1">
  <div class="p-h--6 m-h--a mw--67">
    {{> @section_header }}
    <ul class="d--b d--f--m ls--n m-a--0 p-a--0">
      {{#each transactions as |transaction|}}
        <li class="bg-c--w g--1 g--2--m g--4--l m-a--0 m-t--3 p-a--0">
          <a class="d--f d--b--m ai--c p-a--4 ta--c--m" href="{{ transaction.link }}" title="{{ transaction.name }}">
            <div class="w--20 w--100--m">
              <img src="{{ transaction.image }}" alt="{{ transaction.name }}" style="max-height: 40px; max-width: 80%" />
            </div>
            <span class="d--b f--i">{{ transaction.name }}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
