{{#each textboxes as |textbox|}}
  <div class="txt">
    <label for="{{id}}" class="txt-l">{{label}}</label>
    {{#if ../inputType }}
      <input id="{{id}}" type="text" value="{{value}}" placeholder="{{placeholder}}" class="txt-f">
    {{/if}}
    {{#if ../textareaType }}
      <textarea id="{{id}}" placeholder="{{placeholder}}" class="txt-f" rows="10">{{value}}</textarea>
    {{/if}}
  </div>
{{/each}}
