{{#each textboxes as |textbox|}}
  <label class="txt">
    <span class="txt-l">{{label}}</span>
    {{#if ../inputType }}
      <input type="text" value="{{value}}" placeholder="{{placeholder}}" class="txt-f">
    {{/if}}
    {{#if ../textareaType }}
      <textarea placeholder="{{placeholder}}" class="txt-f" rows="10">{{value}}</textarea>
    {{/if}}
  </label>
{{/each}}
