<a href="{{ notice.link }}" class="g n-li">
  <div class="g--2 n-li-b n-li-b--br">
    <div class="h2 n-li-t">{{ notice.title }}</div>
    {{#if notice.public_testimony}}
      <div class="h4">Public testimony beings at {{ notice.public_testimony_time }}</div>
    {{/if}}
  </div>
  <div class="g--2 n-li-b">
    <div class="h2">{{ notice.title }}</div>
    {{#if notice.public_testimony}}
      <div class="h4">Public testimony beings at {{ notice.public_testimony_time }}</div>
    {{/if}}
  </div>
</a>

<a href="{{ notice.link }}" class="g n-li">
  <div class="g--2 n-li-b n-li-b--br">
    <div class="h2 n-li-t">{{ notice.title }}</div>
    {{#if notice.public_testimony}}
      <div class="h4">Public testimony beings at {{ notice.public_testimony_time }}</div>
    {{/if}}
  </div>
  <div class="g--2 n-li-b">
    <div class="h2">{{ notice.title }}</div>
    {{#if notice.public_testimony}}
      <div class="h4">Public testimony beings at {{ notice.public_testimony_time }}</div>
    {{/if}}
  </div>
</a>
