<div class="g g--m0 n-li">
  <div class="g--6 n-li-b n-li-b--br">
    <div class="n-li-t"><a  href="{{ notice.link }}">{{ notice.title }}</a></div>
    {{#if notice.public_testimony}}
      <div class="n-li-a">Public testimony beings at {{ notice.public_testimony_time }}</div>
    {{/if}}
  </div>
  <div class="g--6 n-li-b">
    <div class="g g--m0">
      <div class="g--10">
        {{ render '@detail_list' }}
      </div>
      <div class="g--2 n-li-ic">
        <img src="{{ notice.icon }}" alt="Department Name" class="n-li-i" />
      </div>
    </div>
  </div>
</div>
