<div class="b b--b b--fw">
  <div class="b-c">
    <div class="fyi-c">
      {{#if image }}
        <div class="fyi-i"><img src="{{ image }}" alt="{{ title }}"></div>
      {{/if}}
      <div class="fyi-t">{{ title }}</div>
      <div class="fyi-s">/</div>
      <div class="fyi-d">{{ description }}</div>
      {{#if link_text }}
        <a href="{{ link_url }}" title="{{ link_text }}" class="fyi-l">{{ link_text }}</a>
      {{/if}}
    </div>
  </div>
</div>
