<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--12 m-b100 m--full">12 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--9 m-b100 m--full m--half">1: 9 Columns</div>
  <div class="g--3 m-b100 m--full m--half">2: 3 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--8 m-b100 m--full m--half">1: 8 Columns</div>
  <div class="g--4 m-b100 m--full m--half">2: 4 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--7 m-b100 m--full m--half">1: 7 Columns</div>
  <div class="g--5 m-b100 m--full m--half">2: 5 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--6 m-b100 m--full m--half">1: 6 Columns</div>
  <div class="g--6 m-b100 m--full m--half">2: 6 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--4 m-b100 m--full m--half">1: 4 Columns</div>
  <div class="g--4 m-b100 m--full m--half">2: 4 Columns</div>
  <div class="g--4 m-b100 m--full m--half">3: 4 Columns</div>
</div>

<div class="g{{#if variant}} {{variant}}{{/if}}">
  <div class="g--3 m-b100 m--full m--half">1: 3 Columns</div>
  <div class="g--3 m-b100 m--full m--half">2: 3 Columns</div>
  <div class="g--3 m-b100 m--full m--half">3: 3 Columns</div>
  <div class="g--3 m-b100 m--full m--half">4: 3 Columns</div>
</div>
