{{#each tabs as |tab|}}
  <div class="tb{{#if variant}} {{variant}}{{/if}}">
    {{#unless js}}<input type="checkbox" id="tb-tr{{ tab.index }}" class="tb-tr a11y--h"{{#if tab.open}} checked{{/if}}>{{/unless}}
    <{{#if js}}button{{else}}label for="tb-tr{{ tab.index }}"{{/if}} class="tb-h">
      <div class="tb-ic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 8.5 18 25"><path class="tb-i" d="M16 21L.5 33.2c-.6.5-1.5.4-2.2-.2-.5-.6-.4-1.6.2-2l12.6-10-12.6-10c-.6-.5-.7-1.5-.2-2s1.5-.7 2.2-.2L16 21z"/></svg></div>
      <div class="tb-t">{{ tab.title }}</div>
      {{#if tab.subtitle}}<div class="tb-st">{{ tab.subtitle }}</div>{{/if}}
    </{{#if js}}button{{else}}label{{/if}}>
    <div class="tb-c">
      {{{ tab.content }}}
    </div>
  </div>
{{/each}}
