{{#each cards as |card|}}
  <a href="{{ card.href }}" class="{{#if small}}lcd--mini{{else}}lcd{{/if}} m-t500 g--4 g--4--sl">
    <div class="{{#if small}}lcd--mini-c{{else}}lcd-c{{/if}}">
      {{#if variant}}
        <div class="{{#if small}}lcd--mini-im{{else}}lcd-im {{/if}}" style="background-image: url({{ card.image.url }})"></div>
      {{/if}}
      <div class="{{#if small}}lcd--mini-t{{else}}lcd-t{{/if}}">{{ card.title }}</div>
      {{#if card.subtitle}}
        <div class="lcd-st t--subinfo t--g300">{{ card.subtitle }}</div>
      {{/if}}
      {{#if card.content}}
        <div class="lcd-d" id="bottom"> {{ card.content }}</div>
      {{/if}} 
    </div>
  </a>
{{/each}}
