<div class="b b--fw">
  <div id="vid" class="vid" style="background-image: url({{ image.url }})" data-vid-id="{{ video_id }}" data-vid-channel="{{ video_channel }}">
    <div class="vid-c">
      <div class="vid-ci">
        <div class="b-c">
          <div class="vid-t">{{ title }}</div>
          <div class="vid-st m-t300">By: <a href="{{ department_url }}" class="vid-st-a">{{ department }}</a></div>
          <div class="vid-ic m-t300">
            <button class="vid-cta">
              <img src="/images/global/icons/play.svg" alt="Play Video" height="97" width="97" class="vid-cta-i" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
