{{#if image}}
<style>
  .hros {
    background-image: url({{image.mobile1x}});
  }

  @media screen and (min-width: 768px) {
    .hros {
      background-image: url({{image.tablet1x}});
    }
  }

  @media screen and (min-width: 1024px) {
    .hros {
      background-image: url({{image.desktop1x}});
    }
  }

  @media screen and (min-width: 1200px) {
    .hros {
      background-image: url({{image.wide1x}});
    }
  }
</style>
{{/if}}

<div class="hros{{#if image}}{{#if title}} hros--t{{else}} hros--b{{/if}}{{else}} hros--d{{/if}}">
  <div class="hros-c">
    {{#if intro}}
    <div class="hros-i{{#if home}} hros-i--l{{/if}}"><span></span>{{intro}}<span></span></div>
    {{/if}}
    <h1 class="hros-t{{#if home}} hros-t--l{{/if}}">{{title}}</h1>
    {{#if subheader}}
    <div class="hros-i{{#if home}} hros-i--l{{/if}}{{#if image}} hros-st--w{{/if}}">{{subheader}}</div>
    {{/if}}
  </div>
</div>

<div class="intro-content">

  <div class="topic-intro-text-container">
    <div class="intro-text-top">
      <div class="topic-intro-text-content">
        <div
          class="intro-text supporting-text">
          <p>{{intro-text}}</p>
          <div style="font-size:12px; color:#666666; font-style:italic; margin-bottom:10px;">{{supporting-text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>