{{#each new as |news|}}
<a href="{{ news.href }}"
    class="n--a {{#if news.grid}} m-t500 g--4 g--4-sl {{news.grid}}{{/if}} {{#../theme}} n--a--{{this}}{{/../theme}}">
    <div class="n--a-c">  
        <div class="n--a-ic"> 
        <img src="{{ news.image.url }}" alt="{{ news.name }}">
        </div>  
        <svg class="svg-date-flag {{#if card.grid}} n--a-date-flag{{/if}}" id="Layer_1"
            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.08 44.31">
            <path d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z" fill="#ffffff" stroke="#C8C8C8" stroke-miterlimit="10" />

        </svg> 
        <p class="svg-date-flag  date-flag-text">Nov 20</p>
       <div class="n--a-t">{{ news.name }}</div>
        <div class="n--a-st t--upper t--subtitle">{{ news.position }}</div>
    </div>
</a>
{{/each}}
