<div class="b b--fw">
	<div class="b-c">
		{{> @section_header }}
		<div class="g">
			{{#each news as |new|}}
			<div class="g--12 news-card m-b300 m-t500">
          <div class="g">
            <div class="g--7 news-column">
              <div class="thumb-and-title">
                <div class="thumb-and-flag">
                  <svg
                    class="svg-date-flag n--a-date-flag"
                    id="Layer_1"
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 34.08 44.31"
                  >
                    <title>{{new.date}}</title>
                    <path
                      d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z"
                      fill="#ffffff"
                      stroke="#ECECEC"
                      stroke-miterlimit="10"
                    />
                  </svg>

                  <p
                    class="svg-date-flag n--a-date-flag-text date-flag-text"
                  >
                    {{new.date}}
                  </p>

                  <div class="g--12">
                    <div class="news-card--thumb-wrapper">
                      <img
                        src="{{new.image.url}}"
                        alt="{{new.title}}"
                        typeof="foaf:Image"
                      />
                    </div>
                  </div>
                </div>

                <div class="news-column--left">
                  <h3 class="title">
                    <a href="{{new.href}}">{{new.title}}</a>
                    <span class="news_positon">{{new.position}}</span>
                  </h3>
                </div>
              </div>
            </div>

            <div class="g--5 news-column--right">
              <div class="g">
                <div class="g--12 optional-news-layout">
                  <div class="intro-text">
                    {{new.description}}
                  </div>

                  <div class="icon-wrapper">
                    <div class="di">
                      <div class="di-ic">
                        <a
                          href="/departments/innovation-and-technology" title="Innovation and Technology" class="di-a di-tt"
                        >
                          <img
                            typeof="foaf:Image"
                            src="/images/b-dark.svg" alt="Innovation and Technology" class="di-i"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
